

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding:40px;

}
.country-info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.button{
        background-color: white; /* Green */
        border: none;
        color:hsl(0, 0%, 52%);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 30px;    

}
.button:hover{
    cursor: pointer;
}
p{
    color: hsl(0, 0%, 52%);
}
span{
    font:bolder
}

@media (max-width: 767px) {
    /* Mobil */
    .container,.country-info{
        flex-direction:column;
        justify-content:center;
       
    }
    
  }